<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arquivos</title>
</head>
<body>
    <h1>Salvando arquivos em Flask</h1>
   <form action="/upload" enctype="multipart/form-data" method="post">
        <p>
            <input type="file" name="imagem" id="imagem">
        </p>
        <p>
            <button type="submit">Enviar</button>
        </p>
   </form>
</body>
</html>